[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "test"
url = "https://test.pypi.org/simple"
verify_ssl = false

[dev-packages]
pylint = "*"
rope = "*"

[packages]
matplotlib = "*"
laserhockey = {editable = true, git = "https://git@github.com/martius-lab/laser-hockey-env.git"}
torch = "*"
tensorboardx = "*"
ipykernel = "*"
jupyter = "*"
stable-baselines3 = "*"
twisted = "*"
box2d = "*"
tensorboard = "*"
trueskill = "*"
tensorflow = "*"
memory-profiler = "*"
"pychart.js" = "*"
imageio = "*"
imageio-ffmpeg = "*"

[requires]
python_version = "3.6"
